.mission-section{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--light-blue-transparent); */
  height: 60rem;
  max-width: 95vw;
}

.mission-content > h3 {
  font-family: 'Oswald', sans-serif;
  color: var(--black);
  font-weight: 600;
  font-size: 5rem;
}

.mission-content > hr {
  width: 100%;
  border: .2rem solid var(--light-blue);
  margin: 2rem 0 3rem 0;
}

.mission-content > q {
  font-family: 'Roboto', sans-serif;
  font-size: 6rem;
  color: var(--black);
  text-align: center;
}

@media screen and (max-width: 990px) {

  .mission-content > h3 {
    font-size: 4rem;
  }
  
  .mission-content > q {
    font-size: 4rem;
  }
}


